{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}



{% block content %}
	<div class="panel panel-default">
		<!-- Default panel contents -->
		<div class="panel-heading" align="center"><strong>Payoff</strong></div>
		<div class="panel-body">
		Player (A) did correctly {{ group.task_correct }} sliders.

		<br>Player (A) offer was {{ group.proposal }} and (B) {% if group.accept == 1 %} accepted it {% else %} refused it {% endif %}.

		<br>Your payoff is <mark>{{ player.payoff }}</mark>		

		</div>
	<div>

	
	<p>&nbsp;</p>

    {% next_button %}

{% endblock %}
